---
import { Image } from "astro:assets";
import pink from "../../images/hero.jpg";
import red from "../../images/hero-nobg.png";
---

<div
  class={`flex relative flex-col max-auto h-screen items-center  md:flex-row justify-between  text-center md:text-left  px-6 md:px-14`}
  id="home"
>
  <div class="mx-auto w-[1200px] pb-12 flex justify-between">
    <div data-aos="fade-up ">
      <div
        class="flex w-[500px] h-full justify-center items-center flex-col md:items-start"
      >
        <h2
          class="text-[64px] font-extralight tracking-tight text-gray-800 font-playFair"
        >
          Your Favourite Flower Shop
        </h2>
        <p
          class="text-gray-500 mt-0 leading-6 pt-2 font-poppins font-normal text-md"
        >
          This flower shop fits all your occasions. We will cater to all your
          events and we specialise in wedding and bridal events.
        </p>

        {/* Buttons Section */}
        <div class={`flex space-x-4 pt-14 `}>
          <button
            class="py-2.5 text-white font-bold font-poppins px-5 bg-pink-400 rounded-full border-2 border-pink-400 duration-100"
          >
            Our Products
          </button>
          <button
            class="border border-[#4A051C] rounded-full font-poppins text-[#4A051C] py-2.5 px-5 font-normal md:border-black md:text-black hover:bg-pink-200 duration-100"
          >
            Message Us
          </button>
        </div>
      </div>
    </div>
    <div class="">
      <Image
        src={red}
        alt="Flower Bouquet Desktop"
        class="rounded-xl"
        width={600}
        height={600}
      />
    </div>
    {/* Image Section */}
    {/* Text Section */}
  </div>
</div>
