---
import MobileMenu from "./MobileMenu.tsx";
---

<nav
  class={`flex left-0 top-0 py-4 z-10 w-full absolute justify-between items-center p-2 px-4 md:px-10  `}
>
  <div class="flex-1 hidden md:flex font-light justify-start text-black">
    <a href="#home" class="hover:text-gray-700 px-4">Home</a>
    <a href="#features" class="hover:text-gray-700 px-4">Features</a>
    <a href="#pricing" class="hover:text-gray-700 px-4">Pricing</a>
    <a href="#faq" class="hover:text-gray-700 px-4">FAQ</a>
  </div>

  <div class="flex text-2xl font-playFair font-light justify-center">
    <span>Petal Events</span>
  </div>

  <div class="flex-1 hidden md:flex justify-end">
    <button
      class="bg-[#4A051C] border border-[#000] rounded-xl text-white py-2 px-6 ml-4 hover:bg-purple-600 duration-100"
      >Message Us</button
    >
  </div>

  {/* Mobile Menu Icon */}
  <MobileMenu client:load />
</nav>

<script></script>
